@import url('https://fonts.googleapis.com/css?family=Muli');

#container .vtdescription { 
	position: relative;
}
@media only screen and (max-width: 699px) {
	#container .vtdescription {
		width: 90%;
		left: 5%;
	}
}
@media only screen and (min-width: 700px) {
	#container .vtdescription {
		left: calc(50% - 350px);
		width: 700px;
	}
}


.open{
	animation-name: spin;
	animation-duration: 100ms;
	animation-iteration-count: 5;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.sliderleft{
  animation-name: slideleft;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes slideleft {
  0% {
	transform:translateX(0);
  }
  100% {
	transform:translateX(-100%);
  }
}

.sliderright{
  animation-name: slideright;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes slideright {
  0% {
	transform:translateX(0);
  }
  100% {
	transform:translateX(100%);
  }
}

.footer {
	position: fixed;
	width: 100%;
}
.buffer {
	width: 100%;
	height: 100px;
}

#container {
	position:absolute;
	width: 100%;
	height: 100%;
	-webkit-perspective: 800px;
			perspective: 800px;
	text-align: center;
	top: 80px;
	left: 0;
	z-index:0;
	background: transparent;
}
.card {
	margin: 10px;
	display: inline-block;
	position: relative;
	width: 220px;
	height: 260px;
	opacity: 0.85;
	background: transparent !important;
	border: none !important;
}
.card hr {
	margin: 15px;
}
.card img {
	display: inline !important;
	width: 45px;
	margin: 5px;
}
.card .back div {
	margin-left: 20px;
	width: 200px;

	float: left;
	text-align: left;
}
.card .back div p {
	display: inline !important;
}
.front,
.back {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: -webkit-transform 300ms;
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
	-webkit-transition-timing-function: linear;
			transition-timing-function: linear;
	border-radius: 5px;
}
.front {
	transform: rotateY(0deg);
	text-align: center;
	padding: 30px;
}
.back {
	-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
	padding: 40px 15px;
	color: #fff;
}
.card:hover .front {
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}
.card:hover .back {
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
}
//styling
.back .contact{
	height: 90%;
	width: 100%;
	border: 5px solid white;
	display: inline-block;
	margin-bottom: 10px;
}
.front .contact {
	height: 120px;
	width: 120px;
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 10px;
}
.front .name {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	min-width: 30px;
}
.front .job {
	width: 200px;
	margin-left: -21px;
	color: #fff;
}
.front hr {
	border: none;
	color: white;
	border: 1px solid;
}
